.cart-widget {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-icon {
    width: 24px; /* Ajusta el tamaño del ícono según sea necesario */
    height: auto;
}

.cart-count {
    font-size: 1em;
    color: #4CAF50;
}